/* :root {
  --tester-border: solid 3px;
} */

.App {
    background:repeating-linear-gradient(0deg, rgb(0, 0, 0),rgb(52, 23, 34),rgb(57, 25, 59),rgb(5, 3, 7) 20%);
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    /* border: var(--tester-border) green; */
    color: rgba(255, 255, 255, 0.742);
}

.header__container {
    background-image: url(https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: opacity(0.6) drop-shadow(0 0 0 rgb(0, 0, 0));

    background-color: rgb(54, 25, 54);
   
    border-bottom: 8px solid rgba(49, 8, 65, 0.635);
    border-radius: 8px;

    width: 100%;
    min-height: 40vh;

    color: white;
}

.card__location {
    border: 6px solid rgba(37, 2, 30, 0.085);
    border-radius: 10px;
    width: min(900px, 90%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(36, 24, 38, 0.427);

    /* border: var(--tester-border) orange; */

}

.app__cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;

    width: min(900px,90%);
    border-radius: 10px;
    border: 6px solid rgba(37, 2, 30, 0.085);

    background-color: rgba(36, 24, 38, 0.427);

    /* border: var(--tester-border) cyan; */
}

.card__character{
    /* padding-top: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border: 8px solid rgba(251, 247, 255, 0.038);
    border-radius: 15px;
    width: min(270px,90%);

    background-color: rgba(35, 11, 55, 0.443);

    /* border: var(--tester-border) white; */
}

.card__character img {
    width: min(50%);
    border-radius: 15px;
    filter: opacity(0.75) drop-shadow(0 0 0 rgb(0, 0, 0));
}

.card__character:hover{
    border: 8px solid rgba(179, 179, 179, 0.837);
    transition: .2s;
    width: min(275px,90%);

    background-color: rgba(26, 8, 40, 0.571);
}

.character-info__container{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input{
    background-color: rgb(199, 188, 210);
    padding: 10px 10px;
    /* margin: 8px 0; */
    /* box-sizing: border-box; */
    border: 4px solid rgb(151, 121, 182);
    border-radius: 4px;

    font-size: 15px;
}

button {
    background-color: blueviolet;
}
